/coc
/Electron
/google-chrome
/i18n-extractor
/Slack
/VirtualBox
/spotify
/pulse
/systemd
/oni2
/libreoffice
/godot
/LDtk
/GitKraken
/ibus
/GDevelop 5
/evolution
/goa-1.0
/gtk-3.0
/gtk-2.0
/inkscape
/menus
/kazam
/totem
/yelp
/pop-shell
/configstore
/gatsby
/geary
/eog
/gedit
/enchant
